@import '../../assets/css/reset.css';
@import '../../assets/css/base.css';
@import './fragments/stepper/index.css';
@import './fragments/skills/index.css';

.questionaire-steps-container {
    height: 100%;
    width: 100%;
}

.questionaire-steps-container > .step {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.content.left,
.content.right {
    width: 50%;
}

.content.left {
    background: #FFFFFF;
    padding: 110px 0 0;
}

.content.right {
    padding: 110px 115px 0 175px;
}

.title {
    color: var(--color-text-red);
    font-family: Rowdies, cursive;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 79px;
}

.title.left {
    margin: 0 105px 130px;
    text-align: center;
}

.description {
    color: var(--color-text-white);
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 48px;
    margin-top: 145px;
    text-align: left;
}

.input[type="text"],
.input[type="number"],
.input[type="email"],
.input[type="date"],
select.input,
textarea.input {
    display: block;
    flex-grow: 1;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 17px;
    padding: 18px;
    text-align: left;
    width: 100%;
}

.input[type="radio"] {
    appearance: auto;
    background-color: var(--color-bg-white);
    border-color: var(--color-grey);
    border-image: initial;
    border-style: inset;
    border-width: 2px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 1px 2px;
}

.input[type="radio"]:disabled {
    cursor: default;
}

.input:disabled {
    color: var(--color-text-grey);
}

.input-container {
    margin: 40px 0 0;
    position: relative;
    width: 100%;
}

.input-container.invalid > .field {
    border-color: var(--color-red);
}

.input-container.invalid > .error {
    display: block;
}

.input-container.hidden {
    display: none;
}

.input-container > .label {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 22px;
    margin: 0 0 20px 0;
    text-align: left;
}

.input-container > .field {
    align-items: center;
    border: 1px solid var(--color-grey);
    display: flex;
}

.input-container > .field > .label {
    margin: 0 0 0 10px;
}

.input-container > .field.radio {
    border: none;
    margin: 5px 0 0;
}

.input-container > .field > .prefix {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 17px;
    margin: 0 0 0 18px;
    text-align: left;
    white-space: nowrap;
}

.input-container > .field > .prefix + .input {
    padding-left: 0;
}

.input-container > .error {
    color: var(--color-text-red);
    display: none;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 13px;
    padding: 5px 0 0 18px;
    position: absolute;
    text-align: left;
}

.input-container > .field.radio + .error {
    padding-left: 0;
}

.input-container > .error::before {
    content: '* '
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 455px;
}

.page-container {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
}

.page-content {
    text-align: center;
    width: 100%;
}

.go-back-btn {
    margin-left: auto;
    margin-right: auto;
}