body {
    background-color: var(--color-bg-black);
    height: 100%;
    position: absolute;
    width: 100%;
}

:root {
    --color-bg-black: #000000;
    --color-bg-red: #FE3B1F;
    --color-bg-white: #FFFFFF;
    --color-grey: #525557;
    --color-red: #FE3B1F;
    --color-text-black: #000000;
    --color-text-grey: #454545;
    --color-text-red: #FE3B1F;
    --color-text-white: #FFFFFF;

}

button {
    cursor: pointer;
}

.button {
    background: var(--color-bg-red);
    border-radius: 50px;
    color: var(--color-text-white);
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    padding: 20px 0;
    text-align: center;
    width: 395px;
}

.link {
    color: var(--color-text-white);
    cursor: pointer;
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 29px;
    margin: 36px 0 0;
    text-align: center;
    text-decoration: underline;
}

.page-title {
    color: var(--color-text-red);
    font-family: Rowdies, cursive;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 119px;
    text-align: center;
}