body {
    position: absolute;
    background-color: var(--color-bg-black);
    width: 100%;
    height: 100%;
}

:root {
    --color-text-red: #FE3B1F;
    --color-text-white: #FFFFFF;
    --color-bg-red: #FE3B1F;
    --color-bg-white: #FFFFFF;
    --color-bg-black: #000000;
    --color-grey: #525557;
}