.stepper-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 175px 0 0;
}

.step.hidden {
    display: none;
}

.stepper-btn {
    height: 22px;
    width: 22px;
}

.stepper-btn svg {
    fill: var(--color-bg-red);
    image-rendering: crisp-edges;
}


.stepper-btn.right {
    transform: rotateZ(180deg);
}

.stepper-btn, .step-indicator {
    margin: 0 8px;
}

.step-indicator {
    background: var(--color-bg-red);
    border-radius: 50%;
    display: inline-block;
    height: 19px;
    opacity: 0.1;
    width: 19px;
}

.step-indicator.selected {
    opacity: 1;
}