@import '../../assets/css/reset.css';
@import '../../assets/css/base.css';
@import '../questionaire/index.css';

.container {
    background: #0C0D0E;
    display: block;
    height: 100%;
    padding: 50px 100px;
    position: relative;
    width: 100%;
}

.title {
    color: var(--color-text-white)
    font-family: Rowdies, cursive;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.11em;
    line-height: 70px;
    text-align: left;
}

.content {
    margin: 50px 0 0;
}

.application {
    margin: 0 0 10px 0;
}

.application-header {
    align-items: center;
    background: var(--color-bg-red);
    display: flex;
    padding: 10px 20px;
}

.application-title {
    color: var(--color-text-white);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    text-align: left;
}

.application-arrow {
    margin: 0 0 0 auto;
}

.application.selected .application-arrow {
    transform: rotateZ(180deg);
}

.application:not(.selected) .application-content {
    display: none;
}

.application.selected .application-content {
    background: var(--color-bg-white);
    padding: 40px 100px;
}

.application-grid {
    column-gap: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 50px;
}

.info-grid {
    column-gap: 30px;
    display: grid;
    grid-template-columns: 100px auto;
    row-gap: 20px;
}

.info-title {
    color: var(--color-text-red);
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 20px 0;
    text-align: left;
    text-decoration: underline;
}

.info-label {
    color: var(--color-text-black);
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 15px;
    text-align: left;
}

.info-value {
    color: var(--color-text-black);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    text-align: left;
}

.form-container {
    margin: 0;
}

.input-container:first-child {
    margin-top: 0;
}

.form-container .label {
    font-size: 14px;
}